@import '~@angular/material/theming';

.container {
  margin: 20px;

  .logo {
    margin-bottom: 12px;
  }

  .auto-grow {
    width: 100%;
  }

  .error {
    margin-top: 6px !important;
    font-size: 12px !important;
  }

  mat-card {
    @include mat-elevation(0);
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 48px 24px;
    min-width: 600px;

    form {
      margin-top: 20px;

      mat-form-field {
        width: 100%;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    mat-card { 
      min-width: 100%;
      padding: 48px 16px;
    }
  }

}
